[Unit]
Description=libuo web server for projectfina.com
StartLimitInterval=600
StartLimitBurst=3

[Service]
WorkingDirectory=/usr/local/projectfina-web/bin
ExecStart=/usr/local/projectfina-web/bin/projectfina-web
Restart=always
RestartSec=20
User=www-data

[Install]
WantedBy=multi-user.target
